@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.heading-section {
  background-color: #fff9f4;
}
.header-image {
  width: 407px;
  height: 407px;
}
.header-info h1 {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  color: #fa804c;
}
.header-info span {
  color: #363958;
}
.header-info p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3e3e3e;
}
.header-info button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 170px;
  height: 60px;
  background-image: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  border: none;
  color: #ffffff;
}
.header-info button i {
  margin-right: 8px;
}
.product-section-heading {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #363958;
}
.card img {
  width: 311px;
  height: 311px;
}
.card h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #363958;
}
.card p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3e3e3e;
}
.card-footer h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fa804c;
}
.card-footer button {
  width: 170px;
  height: 60px;
  background-image: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.card-footer i {
  margin-right: 8px;
}
.services-section {
  padding: 26px;
}
.services-section img {
  width: 78px;
  height: 82px;
  margin-right: 36px;
}
.services-section h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #363958;
  margin-bottom: 10px;
}
.services-section p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3e3e3e;
}
.serviceImage img {
  width: 600px;
  height: 354px;
}
